.about-me {
    margin-top: 260px; /* Yukarıdan 10px boşluk bırakır */
    margin-right: 26%; /* Sağdan yüzde 10 genişlikte boşluk bırakır */
    margin-left: 26%; /* Soldan yüzde 10 genişlikte boşluk bırakır */
}

h1 {
    margin-bottom: 0;
    font-size: 38px; /* Metin boyutunu büyütür */
    font-weight: bold; /* Kalın font kullanır */
    color: #333; /* Metin rengi */
}
h4{
    margin-top: 0;
    margin-bottom: 220px; /* H4 başlığından sonra 20px boşluk bırakır */
    color: #333; /* Metin rengi */
    font-weight: normal;
}
img {
    margin-top: -165px;
    width: 370px; /* Resmin genişliği */
    height: auto; /* Otomatik olarak yükseklik ayarla (orantılı olarak) */
    margin-left: 70px;
    border-radius: 10px; /* Köşeleri yuvarlar */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Hafif bir gölge ekler */
    transition: transform 0.3s ease; /* Mouse üzerine geldiğinde hafif bir büyüme efekti ekler */
}

/* Mouse üzerine geldiğinde resmin boyutunu biraz büyütür */
img:hover {
    transform: scale(1.05);
}
.container {
    display: flex; /* Flexbox'u etkinleştir */
    align-items: center; /* Elemanları dikeyde hizala */
}

