.card-container {
    width: 100%; /* Container'ı tam ekran genişliğinde yapar */
    text-align: center; /* Kartları yatay olarak ortalar */
}

.card-new{
    width: 400px; /* Kart genişliği */
    height: 450px; /* Kart yüksekliği */
    display: inline-block; /* Kartları yan yana hizalar */
    margin: 0 40px; /* Kartlar arasında 20 piksel boşluk bırakır */
}

.education {
    margin-top: 200px; /* Yukarıdan 10px boşluk bırakır */
    margin-left: 26%; /* Soldan 20px boşluk bırakır */
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Yazıları sol kenara hizalar */
    margin-left: 15px;
}
