.list {
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 200px; /* Alt kenara 20 piksel boşluk ekle */
}

.title h2{
    margin-right: 16%;
    margin-left: 16%;
}

.list .card-new {
    background-color: rgba(255, 218, 185, 0.5);
    border-radius: 40px;
    width: 430px; /* Kartın sabit genişliği */
    height: 400px; /* Kartın sabit yüksekliği */
    margin-bottom: 70px;
    position: relative;
    margin-right: 2px; /* Kartların arasındaki boşluğu belirler */
}

.list .card-new .card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 14px;
}
