.list {
    text-align: center;
    margin-right: 8%;
    margin-left: 8%;
}

.title h2{
    margin-right: 18%; ;
    margin-left: 18%;;
}

.list .card-new {
    background-color: rgba(255, 218, 185, 0.5);
    border-radius: 40px;
    width: 420px; /* Kartın sabit genişliği */
    height: 400px; /* Kartın sabit yüksekliği */
    margin-bottom: 70px;
    position: relative;

}

.list .card-new .card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 14px;
}
